h1, h2, h3, h4, h5, h6 {
    color: #444444;
}
body {
    background-color: #f2f2f2;
    color: #333;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #28a745;
}

.card-text {
    color: #666;
}

.list-group-item {
    background-color: #f2f2f2;
    border: none;
}

.nav-link {
    color: #333;
}

.nav-link:hover {
    color: #28a745;
}